.desc .copyBtn {
  border-radius: 100px;
  background: red;
  position: absolute;
  top: 12px;
  right: 100px;
  border: none;
  background: none;
}
.desc .copyBtn svg {
  fill: #fff;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-date-header-wrap table col,
.schedule-cell-dimension.e-schedule .e-vertical-view .e-content-wrap table col {
  width: 100px;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td,
.schedule-cell-dimension.e-schedule .e-vertical-view .e-work-cells {
  height: 50px;
}

.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells,
.schedule-cell-dimension.e-schedule .e-month-view .e-date-header-wrap table col {
  width: 100px;
}

.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells {
  height: 50px;
}

.calenderWindow {
  padding: 0.5em;
  overflow-y: scroll;
  padding-bottom: 1.5em;
  max-height: 90vh;
}
.calenderWindow .card {
  background: #fff;
  border: 2px solid #1b1f29;
  border-radius: 10px;
  margin-top: 0.5em;
}
.calenderWindow .card .headline {
  background: rgba(159, 117, 251, 0.7450980392) !important;
  color: #1b1f29 !important;
  padding: 0.7em !important;
  border-bottom: 2px solid #1b1f29;
  border-radius: 10px 10px 0 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calenderWindow .card .headline .title {
  font-weight: 800;
  font-size: 1.25rem;
}
.calenderWindow .card .headline svg,
.calenderWindow .card .headline button {
  cursor: pointer;
  background: #a075fb;
  border-radius: 100%;
  padding: 0.5em;
  border: 2px solid #1b1f29;
  box-sizing: content-box;
}
.calenderWindow .card .headline button {
  border-radius: 5px;
  font-weight: 700;
  padding: 0.5em 1em;
}
.calenderWindow .card .rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  padding: 0.7em;
}
.calenderWindow .card .rows .row {
  border: 2px solid #1b1f29;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.calenderWindow .card .rows .row .title {
  padding: 0.5em;
}
.calenderWindow .card .rows .row .options {
  display: flex;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
}
.calenderWindow .card .rows .row .options span,
.calenderWindow .card .rows .row .options p {
  padding: 0.5em;
}
.calenderWindow .card .rows .row .options span {
  background: #a075fb;
  border-left: 2px solid #1b1f29;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.calenderWindow .card .form {
  display: flex;
  width: 45%;
  gap: 0.25em;
}
.calenderWindow .card .form .serviceInput,
.calenderWindow .card .form .priceInput {
  border: 2px solid #1b1f29;
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
  width: 60%;
}
.calenderWindow .card .form .priceInput {
  width: 40%;
}
.calenderWindow .calender {
  height: 100vh;
  margin-top: 0.5em;
}
.calenderWindow .scheduler {
  border: 2px solid #000;
  border-radius: 15px;
}
.calenderWindow .one {
  background: #c7bae3 !important;
}
.calenderWindow .two {
  background: #bed4e6 !important;
}/*# sourceMappingURL=calender.css.map */