.productInfoName {
  margin-top: .5em !important;
}

.formRow .liquidUpdates {
  width: 35%;
  margin-top: .5em;
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid #1b1f29;
  border-radius: 5px;
  overflow: hidden;
  input {
    width: 100% !important;
    text-align: center;
    padding: 0.7em !important;
    margin: 0 !important;
    border: none !important;
  }

  button {
    padding: 0.7em;
    border: none;
    cursor: pointer;
  }
}

.update {
  width: 100%;
  border: 2px solid #1b1f29;
  border-radius: 5px;
  padding: .7em;
  margin-top: .5em;
  background: #a075fb;
  font-weight: 600;
  cursor: pointer;
}

.update:hover {
  background: #7a43f1;
  transition: all .5s ease;
}

.update:not(:hover) {
  background: #a075fb;
  transition: all .5s ease;
}