.inventoryContainer {
  padding: 0 0.5em 0.5em 0.5em;
  position: relative;

  .swiper{
    display: flex;
    gap: 2em;
    margin-bottom: .5em;
    .cardContainer {
      background: #fb7575be;
      max-width: 50%;
      border: 2px solid #1b1f29;
      border-radius: 10px;
      margin-right: 1em;
      .remainingCard {
        min-width: 200px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
  
        .progress {
          width: 40px;
          height: 120px;
          border-radius: 5px;
          border: 2px solid #1b1f29;
          display: flex;
          align-items: flex-end;
          margin: 0.5em;
  
          .finished {
            height: 20%;
            width: 100%;
            background: #a075fb;
            border-radius: 0px 0 2.5px 2.5px;
            border-top: 2px solid #1b1f29;
          }
        }
  
        .content {
          // background: green;
          padding: 0.5em;
          border-left: 2px dashed #1b1f29;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.25em;
  
          .boxes {
            display: flex;
            gap: 0.25em;
            .box {
              width: 33.333%;
              border: 2px solid #1b1f29;
              border-radius: 5px;
              padding: 0.5em;
              font-size: 0.8rem;
              font-weight: 800;
              text-align: center;
            }
          }
  
          .productName {
            font-size: 1rem;
            width: 100%;
            padding: 0.5em;
            border-radius: 5px;
            border: 2px solid #1b1f29;
          }
  
          button {
            width: 100%;
            padding: 0.5em;
            border-radius: 5px;
            font-weight: 500;
            border: 2px solid #1b1f29;
            cursor: pointer;
            background: #1b1f29;
            color: #fff;
          }
  
          button:hover {
            transition: all 0.5s ease;
            background: #a075fb;
            color: #000;
          }
  
          button:not(:hover) {
            transition: all 0.5s ease;
            background: #1b1f29;
          }
          .green {
            background: #adfb75;
          }
          .red {
            background: #fb7575;
          }
        }
      }
    }
  }

  .overlay {
    
    opacity: .3 !important;
    // background: url("../../../../assets/pattern-dark.png") !important;
  }
  .addItems {
    width: 100%;
    height: fit-content;
    background: #9f75fbbe;
    color: #1b1f29;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0.5em 0.8em;
    overflow: hidden;

    .title {
      font-weight: 800;
      font-size: 1.25rem;
    }

    .searchBox {
      width: 100%;
      background: #fff;
      border: 2px solid #1b1f29;
      border-radius: 5px;
      margin-top: 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        width: 100%;
        height: 100%;
        padding: 1em;
        border: none;
        border-radius: 10px;
        outline: none;
      }

      .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        gap: 0.2em;
        margin: 0;
        padding: 0.25em;

        button {
          border: none;
          // margin: 0;
          border: 2px solid #1b1f29;
          border-radius: 5px;
          // font-weight: 700;
          width: fit-content;
          cursor: pointer;
          display: grid;
          place-items: center;

          svg {
            padding: 0.5em 1em;
            box-sizing: content-box;
          }
        }

        button:hover {
          background: #8755f3;
          transition: background 0.5s ease;
        }

        button:not(:hover) {
          background: #a075fb;
          transition: background 0.5s ease;
        }
      }
    }
  }

  .cards {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.5em;
    .card {
      background: #fff;
      border: 2px solid #000;
      min-width: 200px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      align-items: flex-start;
      position: relative;
      overflow: hidden;
      
      .progress {
        width: 40px;
        height: 90%;
        border-radius: 5px;
        border: 2px solid #1b1f29;
        display: flex;
        align-items: flex-end;
        margin: 0.5em;

        .finished {
          height: 20%;
          width: 100%;
          background: #a075fb;
          border-radius: 0px 0 2.5px 2.5px;
          border-top: 2px solid #1b1f29;
        }
      }

      .content {
        // background: green;
        padding: 0.5em;
        border-left: 2px dashed #1b1f29;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25em;

        .boxes {
          display: flex;
          gap: 0.25em;
          .box {
            width: 33.333%;
            border: 2px solid #1b1f29;
            border-radius: 5px;
            padding: 0.5em;
            font-size: 0.8rem;
            font-weight: 800;
            text-align: center;
          }
        }

        .productName {
          font-size: 1rem;
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0.5em;
          border-radius: 5px;
          border: 2px solid #1b1f29;
          position: relative;

          .delete {
            background: #fb7575;
            position: absolute;
            right: 2px;
            width: 35px;
            height: 90%;
            border: 2px solid #1b1f29;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
              padding: 0;
              margin: 0;
            }
          }
    
          .delete:hover {
            background: #f83333;
            transition: background .5s ease;
          }
          .delete:not(:hover) {
            background: #fb7575;
            transition: background .5s ease;
          }
        }

        button {
          width: 100%;
          padding: 0.5em;
          border-radius: 5px;
          font-weight: 500;
          border: 2px solid #1b1f29;
          cursor: pointer;
          background: #1b1f29;
          color: #fff;
        }

        button:hover {
          transition: all 0.5s ease;
          background: #a075fb;
          color: #000;
        }

        button:not(:hover) {
          transition: all 0.5s ease;
          background: #1b1f29;
        }
        .green {
          background: #adfb75;
        }
        .red {
          background: #fb7575;
        }
      }
    }
  }
}
