.container-bill{
    display: flex;
    padding: .5em;
    flex-direction: column;
}
.headline {
    width: 100%;
    background: #1b1f29;
    padding: .5em;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.btns {
    display: flex;
    margin-top: .5em;
    gap: .5em;

    h2 {
        font-size: 1rem;
        cursor: pointer;
        border-radius: 5px;
        background: #a075fb;
        border: 2px solid #1b1f29;
        color: #1b1f29;
    }
}