.parentContainer {
    padding: .5em;
    height: 100%;
    width: 100%;

    .realTimeUpdates{
        width: 100%;
        display: flex;
        gap: .5em;
        .card {
            background: #fff;
            border: 2px solid #1b1f29;
            padding: 1em;
            border-radius: 10px;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2 {
                font-size: 1.5rem;
            }

            p {
                color: #1b1f29cf;
                font-size: 1rem;
            }
        }
    }

    .extras {
        display: flex;
        gap: .5em;
        margin-top: .5em;
        .cards {
            width: 24%;
            display: flex;
            flex-direction: column;
            gap: .5em;
            .card {
                background: #fff;
                border: 2px solid #1b1f29;
                padding: 1em;
                border-radius: 10px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h2 {
                    font-size: 1.5rem;
                }
    
                p {
                    color: #1b1f29cf;
                    font-size: 1rem;
                }
            }
        }

        .chart {
            background: #fff;
            border: 2px solid #000;
            width: 75%;
            border-radius: 10px;
        }
    }

    .tabularDisplay {
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        overflow: hidden;
        margin-top: .5em;

        .head {
            display: flex;
            justify-content: space-around;
            background: #1b1f29;
            color: #fff;
            div {
                width: 25%;
                text-align: center;
                padding: .5em;               
            }
        }

        .row {
            display: flex;
            justify-content: space-around;
            border-bottom: solid 2px #1b1f29;
            div {
                width: 25%;
                text-align: center;
                border-right: 2px solid #1b1f29;
                padding: .5em;

                .green {
                    background: #adfb75;
                    padding: .25em 1em;
                    border: 2px solid #1b1f29;
                    border-radius: 5px;
                    font-size: .8rem;
                    font-weight: 800;
                }

                .red {
                    background: #fb7575;
                    padding: .25em 1em;
                    border: 2px solid #1b1f29;
                    border-radius: 5px;
                    font-size: .8rem;
                    font-weight: 800;
                }
            }
        }

        .row:last-child {
            border-bottom: none;
        }
    }
}
