@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #1b1f29;
  }
  
  body {
    overflow: hidden;
  }
  
  
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
      background-color: #1b1f29;
  }
  ::-webkit-scrollbar-thumb {
      background-color: #a075fb;
      border-radius: 5px;
      border: 3px solid #1b1f29;
      background-image: repeating-linear-gradient(45deg,
              #a075fb, #a075fb 10px,
              /* First stripe */
              #1b1f29 10px, #1b1f29 20px
              /* Second stripe */
          ) !important;
  }